.container--all {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  padding: var(--space-2);
  border-radius: 6px;
}

.container--all--dark {
  background-color: rgba(206, 212, 221, 0.2);
  border: 2px solid var(--color-border-dark-detail-raffle-cards);
}

.container--all--blue {
  background-color: rgba(0, 195, 255, 0.15);
  border: 2px solid var(--color-border-entries-blue);
}

.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 0.25px;
  text-align: left;
}

.container--ticket {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container--ticket p {
  z-index: 20;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0.3333333432674408px;
  text-align: left;
}
