.container--all {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 16px;
  border-radius: 6px;
  
}

.container--all--color--red {
  border: 2px solid var(--color-secondary-main);
}

.container--all--color--blue{
  border: 2px solid var(--color-reward-card-blue);
}

.container--all--color--dark{
  border: 2px solid black;
}

.container--all--opaque {
  opacity: 20%;
}

.container--icon {
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.container--icon--color--red {
  background-color: var(--color-secondary-main);
}

.container--icon--color--blue {
  background-color: var(--color-reward-card-blue);
}

.container--icon--color--dark{
  background-color: black;
}

.container--content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: var(--space-2);
  gap: var(--space-2);
}

.container--content--text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--space-2);
}

.container--content--eth {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container--content--srp {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.reward--text {
  color: black;
  font-weight: 600;
}

.claim--button {
  width: 96px;
  height: 42px;
  padding: 12px 20px 12px 20px;
  color: white;
  background-color: black;
  border-radius: 6px;
}
