.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1201;
}

.main {
  background-color: var(--color-background-main);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

@media (max-width: 899.95px) {
  .main {
    padding-left: 0;
  }
}
