.container--all {
  height: 100%;
  position: relative;
  min-height: 238px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-3);
  border: none;
  overflow: hidden;
}
.container--principal {
  position: relative;
  padding: var(--space-3);
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.container--header {
  z-index: 20;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--space-2);
}

.container--header--chips {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: var(--space-1);
}

.container--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container--body {
  z-index: 20;
  padding: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.container--back {
  position: absolute;
  top: 8px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2);
  color: var(--color-soft-gray);
}

.container--raffle--text--buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--space-2);
  height: min-content;
}

.container--raffle-history {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-1);
}

.container--raffle-history h4 {
  color: var(--color-soft-gray);
  text-decoration: underline;
  cursor: pointer;
}

.chip {
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0.25px;
  text-align: right;
  padding: 6px 10px 6px 10px;
}

.chip--white {
  background-color: white;
  color: black;
}

.chip--black {
  background-color: black;
  color: white;
}
.chip--blue {
  background-color: var(--color-reward-card-blue);
  color: white;
}

.chip--red {
  background-color: var(--color-secondary-main);
  color: white;
}

.chip--yellow {
  background-color: var(--color-raffle-card-yellow);
  color: black;
}

.card--title {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.25px;
  text-align: left;
}

.bg-image-container {
  position: absolute;
  top: 0; /* Centrado verticalmente */
  right: 0; /* Valor inicial */
  height: auto;
}

@media (max-width: 1440px) {
  .bg-image-container {
    right: -35%; /* Desplazado más hacia la izquierda */
  }
}

@media (max-width: 1200px) {
  .bg-image-container {
    right: 0; /* Aún más hacia la izquierda */
  }
}

@media (max-width: 900px) {
  .bg-image-container {
    right: -35%; /* Sin desplazamiento */
  }
}
@media (max-width: 740px) {
  .bg-image-container {
    right: -50%; /* Sin desplazamiento */
  }
}
