.container--modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36vw;
  display: flex;
  flex-direction: column;
  border: none;
  outline: 0;
  gap: var(--space-2);
}

.container--content {
  background-color: white;
  border: none;
  border-radius: 6px;
}

.text--my-tickets {
  font-size: 14px;
  font-weight: 600;
  line-height: 19.6px;
  letter-spacing: 0.25px;
  text-align: center;
  color: var(--color-text-gray-soft);
}

.button--claim-rewards {
  width: 100%;
  background-color: var(--color-secondary-main);
  border-radius: 6px;
  color: white;
}

.text--while {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 0.25px;
  text-align: center;
  color: var(--color-text-gray-soft);
}

.text--while--strong {
  font-size: 14px;
  font-weight: 600;
  line-height: 19.6px;
  letter-spacing: 0.25px;
  text-align: center;
}
