.container--all {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-1);
  border-radius: 4px;
}

.container--all--main-card {
  background-color: var(--color-profile-card-bg);
}
.container--primary {
  display: flex;
  align-items: center;
  gap: 4px;
}


.container--secondary {
  display: flex;
  align-items: center;
  gap: 8px;
}

.container--secondary--group {
  display: flex;
  align-items: center;
  gap: 4px;
}
