.container--all {
  background-color: var(--color-profile-card-bg);
}
.container--all--another-profile {
  width: Fill (1, 344px) px;
  height: Fixed (72px) px;
  padding: 16px 12px;
  border-radius: 6px;
  background-color: white;
}

.container--rank {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 100%;
}

.rank--1 {
  background-color: var(--color-rank-first-bg);
  border: 1px solid var(--color-rank-first-border);
  color: white;
}
.rank--2 {
  background-color: var(--color-rank-second-bg);
  border: 1px solid var(--color-rank-second-border);
  color: white;
}
.rank--3 {
  background-color: var(--color-rank-third-bg);
  border: 1px solid var(--color-rank-third-border);
  color: white;
}
.rank--off-podium {
  background-color: white;
}
