.container--all--another-profile {
  width: Fill (1, 344px) px;
  height: Fixed (72px) px;
  padding: 16px 12px;
  border-radius: 6px;
  background-color: white;
}

.container--all--my-profile {
  width: Fill (1, 344px) px;
  height: Fixed (72px) px;
  padding: 16px 12px;
  border-radius: 6px;
  background-color: var(--color-my-profile-bg);
  border: 1px solid var(--color-my-profile-border);
}

.container--rank {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  height: 32px;
  border-radius: 100%;
}

.rank--first {
  background-color: var(--color-rank-first-bg);
  border: 1px solid var(--color-rank-first-border);
  color: white;
}
.rank--second {
  background-color: var(--color-rank-second-bg);
  border: 1px solid var(--color-rank-second-border);
  color: white;
}
.rank--third {
  background-color: var(--color-rank-third-bg);
  border: 1px solid var(--color-rank-third-border);
  color: white;
}
.rank--off-podium {
  background-color: white;
}
