.container--all {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: var(--space-2);
  border-radius: 6px;
}


.container--all--dark {
  background-color: rgba(206, 212, 221, 0.2);
  border: 2px solid var(--color-border-dark-detail-raffle-cards);
}

.container--all--blue {
  background-color: rgba(0, 195, 255, 0.15);
  border: 2px solid var(--color-border-entries-blue);
}
.container--content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.button--connect {
  background-color: black;
  border-radius: 6px;
  padding: 12px 20px 12px 20px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;
  letter-spacing: 0.25px;
  border: none;
}
